.weui-media-box__thumb{
	height: 100%;
}
.weui-panel__bd .weui-media-box__title{
	color: #333;
	font-weight: bold;
	font-size: 14px !important;
}
.wechat-list-img-2{
	width: 100%;
	height: auto;
}
.wechat-list-img-2 .weui-flex__item{
	width: 100%;
	padding: 0 3px 0 3px;
}
.wechat-list-img-2 .weui-flex__item img{
	width: 100%;
	height: 70px;
}
.weui-media-box__bd{
}
.weui-media-box_appmsg .weui-media-box__hd{
	margin-right: .6em !important;
	width: 120px !important;
	height: 80px !important;
}
.weui-media-box__bd{
	height: 80px !important;
}
.weui-media-box__info{
	margin-top: 10px;
	padding-bottom: 0px;
	font-size: 12px;
}
.weui-media-box_text .weui-media-box__title{
	white-space:normal;
}
.wechat-list-img-3{
	width: 100%;
}
.wechat-list-img-3 img{
	width: 100%;
}